<div class="row">
<div class="col-md-6">
  <p>Here are the details of the movie</p>
<hr>

<h1>{{movie?.title}}</h1>
<h4 class="fw-normal">Original title: <span class="fst-italic fw-light">{{movie?.original_title}}</span> </h4>
<p class="text-secondary">Original language: {{movie?.original_language}}</p>
<p> <mark> Release date: {{movie?.release_date}}</mark></p>
<br>
<h5 class="text-danger">Description</h5>
<p *ngIf="movie?.overview">{{movie?.overview}}</p>
<p *ngIf="!movie?.overview" class="fw-light">Description not provided</p>

<p *ngIf="movie?.adult"><span class="text-warning bg-dark p-1">This movie is for an adult public</span>  </p>
<br>
<p><span>Average vote: </span> <span class="border border-2 border-primary rounded-5 p-2">{{movie?.vote_average}}</span> </p>
<br>
<a id="back" class="btn text-dark text-decoration-none" routerLink="/"><i class="bi bi-backspace-fill"></i> Back to list</a>
</div>
<div class="col-md-6 d-flex justify-content-center">
<img src="https://image.tmdb.org/t/p/w500{{movie?.poster_path}}" class="img-fluid rounded shadow mt-5" width="300px" height="auto" alt="...">
</div>
</div>



