nav{
  width: 10em;
  position: fixed;
    height: 100%;
    overflow: auto;
}
.content{
  margin-left: 10em;
}

#register{
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: rgb(175, 175, 175);
  font-size: small;
}
