<div class="container">
<h3>LOGOUT</h3>
<hr>
<p>Logout è il termine inglese per indicare la procedura di uscita da un sistema informatico o applicazione informatica. Proviene dalla contrazione di log out, uscita dal log, il registro cronologico degli eventi tipico di qualsiasi sistema informativo. <br> Il logout chiude in modo completo e sicuro una sessione di lavoro in precedenza aperta con la procedura di login, impedendo l'accesso al sistema/applicazione con le credenziali immesse all'accesso, rappresentando dunque una procedura di sicurezza informatica.
</p>
<h4>Here you go</h4>
<button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
</div>
